# Environment files
.env
.env.*
*.env
**/.env
**/.env.*
.env.local

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
ENV/
.pytest_cache/
.coverage

# Flutter / Dart
mobile/.dart_tool/
mobile/.packages
mobile/.pub/
mobile/build/
mobile/android/build/
mobile/android/.gradle/
mobile/.flutter-plugins
mobile/.flutter-plugins-dependencies

# IDEs & System
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Landing Web Application
landing/node_modules/
landing/dist/
node_modules/
